/* Syracuse University's Shermans typeface */
@font-face {
    font-family: "ShermanSerif";
    src: url("https://assets.syracuse.edu/fonts/shermanserif-book.woff2") format("woff2"),
     url("https://assets.syracuse.edu/fonts/shermanserif-book.woff") format("woff"),
     url("https://assets.syracuse.edu/fonts/shermanserif-book.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

body, html{
    height: 100%;
    margin: 0;
}

.i-lwdlogo-lg {
    background-image: url(/img/lwd-stamp.webp);
    background-repeat: no-repeat;
    background-size: 20%;
    align-items: center;
    padding: 0 0 0 150px;
}

.i-lwdlogo-inline {
    display: inline;
    background: url(/img/lwd-stamp.webp) 0 0 no-repeat;
    background-size: 22px;
    padding: 0 0 0 1.8em;
}

.i-lwdlogo-inline-18 {
    display: inline;
    background: url(/img/lwd-stamp.webp) 0 0 no-repeat;
    background-size: 30px;
    padding: 0 0 0 1.8em;
}

.i-beian-inline {
    display: inline;
    padding: 0 0 0 1.5em;
    bottom: 1px;
    background: url(/img/备案图标.png) 0 0 no-repeat;
}

.bg{
    /* Image */
    background-image: url("img/background.webp");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale */
    background-position: center;
    background-repeat:no-repeat;    
    background-size: cover;
}

.full-height {
    height: 100vh;
    padding-top: 15%;
    scroll-behavior: smooth;

}

.color-white{
    color: white;
}

col
.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    padding: 16px 16px 16px 16px;
    width: 100%;

}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent 50%;
}

.center {
    display: block;
    margin: 0 auto;
}

.logo-text {
    display: inline-block;
    vertical-align: top;
    line-height: 150px;
    font-size: 120px;
    text-align: center;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.5);
}

.padding-3 {
    padding: 3em;
}

.rounded-corner {
    border-radius: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:focus{
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #fdd835;
    border-bottom: dotted;
    margin: 1px;
}

a:hover {
    border-bottom: dotted;
    text-decoration: none;
    color: black; 
}

a.color-white:hover {
    border-bottom: dotted;
    text-decoration: none;
    color: white; 
}


button.back-to-top {
    display: none;
    position: fixed;
    bottom: 5em;
    right: 5em;
    z-index: 99;
    border-radius: 5px;
    border: gray;
    border-style: solid;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 2%;
}

sup {
    font-size: 8px;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

img.profile-pic {
    height: 150px;
}

.syracuse {
    font-family: ShermanSerif, Georgia, serif;
    font-weight: normal;
    font-style: normal;
    color: #f76900;
}

.rounded-border-right
{
    border-style: solid; 
    border-radius: 5px; 
    border-width: 0.5px; 
    padding: 0.1em; 
    float: right;
}

span.date {
    float: right;
}

html {
    scroll-behavior: smooth;
}
ul.horizontal {
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 8px;
}

.ftStyle {
    background-color: #323437;
    padding: 1em;
    margin-top: 1.5em;
    /* overflow: ; */
}

@media (min-width: 800px) {
    li {
        padding-right: 16px;
    }
    ul.horizontal {
        display: flex;
    }

}

@media (max-width: 800px) {

    .logo-text {
        line-height: 100px;
        font-size: 80px;
    }

    .i-lwdlogo-lg {
        background-size: 20%;
        padding: 0 0 0 100px;
    }
}

@media (max-width: 560px) {

    .logo-text {
        line-height: 72px;
        font-size: 56px;
    }

    .i-lwdlogo-lg {
        padding: 0 0 0 72px;
    }

    .bottom-left {
        bottom: -2em;
    }
}

@media (max-width: 420px) {
    .bottom-left {
        bottom: -2em;
    }

    .logo-text {
        line-height: 36px;
        font-size: 32px;
    }
}

@media (max-width: 320px) {
    .logo-text {
        line-height: 40px;
        font-size: 36px;
    }

    .i-lwdlogo-lg {
        padding: 0 0 0 36px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 12px;
    }

    ul {
        font-size: 12px;
    }
}

@media (max-height: 570px) {
    .logo-text {
        line-height: 40px;
        font-size: 36px;
    }

    .i-lwdlogo-lg {
        padding: 0 0 0 36px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 12px;
    }

    ul {
        font-size: 12px;
    }
}

@media (max-height: 670px) and (max-width:380px) {
    .logo-text {
        line-height: 36px;
        font-size: 32px;
    }

    .i-lwdlogo-lg {
        padding: 0 0 0 32px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 11px;
    }

    ul {
        font-size: 11px;
    }

    .bg {
        height: 105%;
    }

    .bottom-left {
        bottom: -1.5em;
    }

   
}